@import url('https://fonts.googleapis.com/css2?family=More+Sugar&display=swap');

@font-face {
    font-family:MoreSugar ;
    src: url(MoreSugar-Regular.ttf);

}
@font-face {
    font-family: Canda;
    src: url(canda.ttf);
}
@media  (max-width: 991px){
    .header{
      visibility: hidden;
      display:none;
    }

    body {
    margin: 0;

    }
    .navbar {
        overflow: hidden;
        display: flex;
        background-color: #602147;
        position: fixed;
        bottom: 0;
        width: 100%;
        height:60px;
        align-items: center;
        justify-content:space-between;
        font-family:'Open Sans', sans-serif;
        }

        .navbar a {
        float: left;
        display: block;
        color: #FFE7E7;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        .navbar a:hover {
        color: #FFD700;
        }

        .navbar a.active {
        color: #FFD700;
        }
    .main {
    padding: 16px;
    margin-bottom: 30px;
    }
    * {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFF1F1;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.navtop{
    display: flex;
    background-color: #602147;
    position: fixed;
    top: 0;
    width: 100%;
    height:60px;
    z-index:10;
    justify-content: center;
    align-items: center;

}
.logo_nav_top{
    height: 80%;
}
.first{
    visibility: hidden;
    display: none;
}

.booking_img{
    height: 80%;
}

.book_word{
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #602147;
    position: relative;
    top: 80px;
    margin-bottom: 2rem;
}
.background_book{
    background-image: url(background_book.png);
    display: flex;
    flex-direction: column;
    height: 120vh;
}

.booking_items{
    font-family: 'Lora', sans-serif;
    font-size: 30px;
    color: #FFFFFF;

}
.pet_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 100%;
}

#id_pick_service input[type="checkbox"] {
  display: none;

}

#id_pick_service span {
  display: inline-block;
  padding: 10px;
  border:2px solid #A6A6A6;
  border-radius: 5px;
  color: black;
    font-family: 'Poppins', sans-serif;
  background-color: #F2EFEB;
}

#id_pick_service input[type="checkbox"]:checked + span {
  background-color: #FFD700;
  color: black;
}
.salon_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  color: black;
    width: 100%;
    margin-bottom: 1rem;
}
.line1{
    width: 30rem;
}

.line2{
    width: 30rem;
}
.line3{
    width: 30rem;
}
.line4{
    width: 30rem;
}
.datetime{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pick{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.payment_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 100%;
}
.date_picker{
   background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 100%;

}
.time_picker{
     background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  color: black;
    margin-bottom: 1rem;
    width: 100%;

}
.amount{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}
.fee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_next{
    background-color: #FFD700;
    border: transparent;
    height: 50;
    font-family: 'Open Sans', sans-serif;
    color: #602147;
    width: 40%;
    border-radius: 5px;
    margin-left:30%;
   margin-top: 2%;
   margin-bottom: 5rem;
   cursor: pointer  ;

}
.button_next:active{background-color: #602147;
color: #FFD700;}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FFE7E7;
    z-index: 10;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-family: 'Sniglet', cursive;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.booking_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #602147;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 90%; /* Width can remain the same */
    height: 2000px; /* Adjust the height as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-inline: auto;
}



    div.calendar-container {
        width: 90%; /* Make calendar container 90% wide for smaller screens */
        margin-top:4rem; /* Center calendar container horizontally */
        display: flex;
        flex-direction: column;
    }



}

@media  (min-width: 992px) {
* {
    box-sizing: border-box;
}
.header{visibility:block;}
      .navbar{
        visibility: hidden;
        display:none;
      }
body {
    margin: 0;
    background-color: #FFF1F1;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.logo {
    margin: 0;
    font-size: 1.45rem;
    vertical-align: middle; /* Align the logo vertically */
}
.main-nav {
    display: flex;
    justify-content: flex-end; /* Align menu items to the right */
    align-items: center; /* Center vertically */
    font-family:'Open Sans', sans-serif;
}

.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #FBF8DD;
    font-size: 0.99rem;
}
.main-nav a:hover {
    color: #CAA6A6;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.01em 1rem;
    background-color: #602147;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    height: 70px;
}
.logo{
    height: 40px;
}
.book_button a button {
    background-color: #FFD700;
    color: #602147;
    border-radius: 3px;
    border: none;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.book_button a button:hover {
    background-color: rgb(255, 166, 2);
}

.book_button a button:active {
    background-color: #ffea00;
    transform: scale(0.95);
}

.circle-icon {
    background-color: #BFBDBC;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #FFD700;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 20px;
font-family: 'Open Sans', sans-serif;
border-radius: 5px;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #602147;
color: #FBF8DD;
}
.dropdown:hover .dropdown-content {
display: block;
}
.logo_nav_top{
    visibility: hidden;
    display: none;

}
.first{
    display: flex;
    height: 95vh;
}

.label1{
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    font-size: 60px;
    position:relative;
    top: 30%;
    left:5%;
}
.booking_img{
    height: 80%;
}

.book_word{
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #602147;
    position: relative;
    z-index: 10;
    top: 30px;
    margin-bottom: 2rem;
}
.background_book{
    background-image: url(background_book.png);
    display: flex;
    flex-direction: column;
    height: 120vh;



}
.booking_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #602147;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 90%; /* Width can remain the same */
    height: 1500px; /* Adjust the height as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-inline: auto;
}

.booking_items{
    font-family: 'Lora', sans-serif;
    font-size: 30px;
    color: #FFFFFF;


}
.pet_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    width: 80rem;
    margin-bottom: 1rem;
}

#id_pick_service {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap to new lines */
  justify-content: center; /* Center the items */
  gap: 15px; /* Set a gap between items */
}

#id_pick_service input[type="checkbox"] {
  display: none;
}

#id_pick_service span {
  display: inline-block;
  padding: 10px 15px; /* Add padding for better spacing */
  border: 2px solid #A6A6A6;
  border-radius: 50px; /* Add border-radius to round the corners */
  color: black;
  font-family: 'Poppins', sans-serif;
  background-color: #F2EFEB;
  min-width: 150px; /* Set a minimum width */
  text-align: center; /* Center text inside the span */
  white-space: nowrap; /* Prevent text from wrapping */
}

#id_pick_service input[type="checkbox"]:checked + span {
  background-color: #FFD700;
  color: black;
  border-radius: 12px; /* Ensure the rounded corners are applied when checked */
}



.salon_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 80rem;
}
.line1{
    width: 80rem;
}
.line2{
    width: 80rem;
}
.line3{
    width: 80rem;
}
.line4{
    width: 80rem;
}

.payment_select{
    background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 80rem;
}
.datetime{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pick{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.date_picker{
   background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 20rem;

}
.time_picker{
     background-color: #F2EFEB;
    border-radius: 5px;
    border: 2px solid #A6A6A6;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
    width: 20rem;

}
.amount{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}
.fee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_next{
    background-color: #FFD700;
    border: transparent;
    height: 50;
    font-family: 'Open Sans', sans-serif;
    color: #602147;
    width: 40%;
    border-radius: 5px;
    margin-left:30%;
   margin-top: 2%;

}
.button_next:active{background-color: #602147;
color: #FFD700;}
.navbar{
    visibility: hidden;
    display: none;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FFE7E7;
    z-index: 10;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-family: 'Sniglet', cursive;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

}



/* Calendar */

.calendar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; /* Align elements vertically */
    margin-bottom: 20px;

}

.calendar-headerjs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px; /* Fixed width for the calendar header */


}

.calendar-time {
    flex-direction: row;
    justify-content: flex-start;
}

#timeSlots{
    font-family: 'Poppins', sans-serif;
    margin-top: 4rem;
    color: white;
    font-size: 20px;
}

.timeSlot-occupied{
    color: red;
    text-decoration: line-through;
}

#calendar {
    text-align: center;
    flex-grow: 1;

}

.month-and-year {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.days-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Seven equal columns for days of the week */
    margin-bottom: 10px;
    text-align: center;
    font-family: 'More Sugar', cursive;
    color: white;
}

.day-cell {
    font-weight: bold;
    padding: 13px;
    border: 2px solid white;
    
  font-family: 'Poppins', sans-serif;


}

.dates-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Seven equal columns for date cells */
    grid-gap: 1px; /* Space between date cells */
height: 100%;
width: 100%;

}

.date-cell {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #602147;

}

.date-cell.fully-booked {
    background-color: #e24343;
}

.date-cell.partially-booked {
    background-color: #e24343;
    cursor: not-allowed;

}

.date-cell.available {
    background-color: #6be26b;
}

.date-cell:hover.available {
    background-color: #b2ffb2;
}

#prevMonth{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;

}
#nextMonth{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

#prevMonth:hover {
    color: #007bff; /* Changes arrow color on hover */
}

#nextMonth:hover {
    color: #007bff; /* Changes arrow color on hover */
}

#prevMonth, #nextMonth {
    margin: 0 10px;
}

.calendar-header button {
    margin: 0;
}

.selected-date {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;

}

